form(id='form', method='post', action='')
	fieldset
		label(for='firstName') First
		input(type='text', name='firstName', id='firstName', ng-model='data.userToEdit.Name.First')
		label(for='lastName') Last
		input(type='text', name='lastName', id='lastName', ng-model='data.userToEdit.Name.Last')
		label(for='email') Email
		input(type='email', name='email', id='email', ng-model='data.userToEdit.Email')
		input(type='submit', value='Add User', ng-click='save()')