div(id='userModal', class='modal hide fade', tabindex='-1', role='dialog', aria-labelledby='userModalLabel', aria-hidden='true')
	.modal-header
		button(type='button', class='close', data-dismiss='modal', aria-hidden='true') ×
		h3(id='userModalLabel') Add User
	.modal-body
		form(id='form', method='post', class='form-horizontal')
			fieldset
				.control-group
					label(for='userName', class='control-label') UserName
					.controls
						input(type='text', name='userName', id='userName', ng-model='data.newUser.UserName')
				.control-group
					label(for='firstName', class='control-label') First
					.controls
						input(type='text', name='firstName', id='firstName', ng-model='data.newUser.Name.First')
				.control-group
					label(for='lastName', class='control-label') Last
					.controls
						input(type='text', name='lastName', id='lastName', ng-model='data.newUser.Name.Last')
				.control-group
					label(for='email', class='control-label') Email
					.controls
						input(type='email', name='email', id='email', ng-model='data.newUser.Email')
				.control-group
					label(for='password', class='control-label') Password
					.controls
						input(type='password', name='password', id='password', ng-model='data.newUser.Password')
				.control-group
					label(for='repeatpassword', class='control-label') Repeat Password
					.controls
						input(type='password', name='repeatpassword', id='repeatpassword', ng-model='data.newUser.RepeatPassword')
	.modal-footer
		button(class='btn', data-dismiss='modal', aria-hidden='true') Close
		button(class='btn btn-primary', ng-click='save()') Save