.userList
	table(class='table table-bordered')
		caption Registered Lunchinators
		thead
			tr
				th First
				th Last
				th Email
		tbody
			tr(ng-repeat='user in data.users', ng-click='detail($index)')
				td {{user.Name.First}}
				td {{user.Name.Last}}
				td {{user.Email}}
					
	a(class='btn btn-mini btn-primary', href='/#/user/new') New