script(src='/js/libs/jquery-1.9.1.js')
script(src='/js/libs/angular.js')
script(src='/js/libs/angular-resource.js')
script(src='/js/services/api.js')
script(src='/js/directives/directives.js')
script(src='/js/controllers/controllers.js')
script(src='/js/app.js')
script(src='/js/libs/store.js')
script(src='/js/libs/bootstrap.js')
script(src='/js/libs/bootstrap-wizard.js')