script(src='/js/libs/jquery-1.8.2.min.js')
script(src='/js/libs/angular.min.js')
script(src='/js/app.js')
script(src='/js/controllers/main.js')
script(src='/js/services/user.js')
script(src='/js/controllers/user.js')
script(src='/js/services/lunch.js')
script(src='/js/controllers/lunch.js')
script(src='/js/libs/bootstrap.js')