form(id='form', method='post', action='/user/checkin')
	fieldset
		label(for='name') Name
		input(type='text', name='name', id='name')
		label(for='email') Email
		input(type='text', name='email', id='email')
		input(type='submit', value='Add User')