.userList
	table(class="table table-bordered")
		caption Registered Lunchinators
		thead
			tr
				th Name
				th Email
		tbody
			tr(ng-repeat="user in users", ng-click="edit({{user._id}})")
				td {{user.Name}}
				td {{user.Email}}
	a(class='btn btn-mini btn-primary', href='/#/user/new') New >>