extends layout

block content
	div(class='container-fluid')
		div(class='hero-unit')
			h1 Welcome to #{title}
			p
				|	An easy to use application to help a group
				|	of people choose a place to eat lunch.
			p
				a(class='btn btn-primary btn-large') Get Started >>
	div(class='container-fluid', ng-view)
block scripts