extends layout

block content
	div(class='container-fluid')
		div(class='hero-unit')
			h1 Welcome to #{title}
			p
				|	An easy to use application to help a group
				|	of people choose a place to eat lunch.
			p
				a(class='btn btn-primary btn-large') Get Started >>
		
		div(class='row-fluid')
			div(class='span12')
				| span12

		div(class='row-fluid')
			div(class='span10')
				| span10
			div(class='span2')
				| span2
				div
				| full width
				div
				| full width

		div(class='row-fluid')
			div(class='span6')
				| span6
			div(class='span6')
				| span6

		div(class='row-fluid')
			div(class='span3')
				| span3
			div(class='span3')
				| span3
			div(class='span3')
				| span3
			div(class='span3')
				| span3
block scripts
	script(src='/js/app/modules/index.js')