doctype 5
html(ng-app="lunchinator")
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="lunchinator")
		meta(name="author", content="dojo")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-wizard.css')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
						span(class='icon-bar')
						span(class='icon-bar')
						span(class='icon-bar')
					a(class='brand', href='/') Lunchinator
					.nav-collapse.collapse
						ul(class='nav')
							li(class='active')
								a(href='/') Home
							li
								a(href='/restaurant') Restaurants
							li
								a(href='/user') Users
							li
								a(href='/lunch') Lunches
					if user.authenticated === false
						include partials/login
		block content
		include partials/js