extends layout

block content
	.container
		p Current list of restaurants
		ul(class='unstyled')
			each item in restaurants
				div(class='restaurant', restaurant-name=item.Name, restaurant-address=item.Address)
		form(id='form', method='post', action='/restaurants', class='form-horizontal')
			fieldset
				legend Add a restaurant
				.control-group
					label(class='control-label', for='name') Name
					.controls
						input(type='text', name='name', id='name')
				.control-group
					label(class='control-label', for='adrress') Address
					.controls
						input(type='text', name='address', id='address')
				.control-group
					label(class='control-label', for='url') Url
					.controls
						input(type='text', name='url', id='url')
				button(type='submit', class='btn') Add Restaurant
block scripts
		script(src='/js/app/modules/restaurant.js')