extends layout

block content
	h1= title
	div(class='container')
		p Current list of users
		ul
			each item in users
				li #{item.Name}
					span=item.Email
block scripts
	script(src='/js/app/modules/user.js')