extends layout

block content
	h1= title
	div(class='container')
		p Current list of users
		ul
			each item in users
				li #{item.Name}
					span=item.Email
		
		form(id='form', method='post', action='/user/checkin')
			fieldset
				label(for='name') Name
				input(type='text', name='name', id='name')
				label(for='adrress') Email
				input(type='text', name='email', id='email')
				input(type='submit', value='Add User')