body{padding-top:60px;padding-bottom:40px}
.navbar-form .spacer{margin-left:3px}
-webkit-border-radius n,-moz-border-radius n,border-radius n,.restaurants{width:300px}
.restaurant{border-radius:6px;background-color:#faf0f0;border:1px outset #f0fff0;padding:5px;margin:4px 0}
.restaurant .name{font-weight:bold}
.restaurant .address,.restaurant .url{font-size:.7em}
